Workflows/AI_Telegram_Bot.json
{
  "name": "AI Telegram Bot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "16f79ff5-68a8-4825-9a8b-b7e2d5ec3972",
      "name": "Telegram Trigger",
      "webhookId": "11466914-5178-4a67-9fd9-627e25bf009e",
      "credentials": {
        "telegramApi": {
          "id": "rxEG7XWuL3VhemfA",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=You are my restaurant orders assistant. You get inquiries about our menu. Help users to choose the suitable Sandwich for them.\n\n### Menu\n1. Name: Cheeseburger\nPrice: $7.99\nIngredients: Beef patty, cheddar cheese, lettuce, tomato, pickles, onions, ketchup, sesame seed bun.\n\n2. Name: Honey Mustard Burger\nPrice: $8.49\nIngredients: Grilled chicken breast, honey mustard sauce, lettuce, tomato, pickles, brioche bun.\n\n### Instructions for replying:\n** Be kind\n** Make sure that the output is related to the massege, marked up and clear to read\n** Present the burger menu clearly in the format above (Name, Price, Ingredients).\n\n** Ask the customer what they’d like to order.\n\n** When a customer orders, confirm the item and ask for their phone number and their name and when they send it send them the order is confirmed."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        140,
        0
      ],
      "id": "b08d8f4a-1655-4fc2-be00-19e21a36683f",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        180,
        140
      ],
      "id": "5c76ea7c-2008-4635-a62d-952c6964be20",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "2q9fCQrQ0cn035nC",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $('Basic LLM Chain').item.json.output.message }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1140,
        -80
      ],
      "id": "2c7ac6ba-88f8-468b-b6db-f0ea998d7c67",
      "name": "Telegram",
      "webhookId": "d0b20856-cf13-4614-8f27-3f8ec96f1fed",
      "credentials": {
        "telegramApi": {
          "id": "rxEG7XWuL3VhemfA",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"message\": {\n      \"type\": \"string\",\n      \"description\": \"Order confirmation message\"\n    },\n    \"is_chosen\": {\n      \"type\": \"boolean\",\n      \"description\": \"True if sandwich was chosen\"\n    },\n    \"name\": {\n      \"type\": \"string\",\n      \"description\": \"Sandwich name if is_chosen is true\"\n    },\n    \"Client phone\": {\n      \"type\": \"string\",\n      \"description\": \"Client phone if sandwich was chosen\"\n    },\n    \"Client Name\": {\n      \"type\": \"string\",\n      \"description\": \"Client name if sandwich was chosen\"\n    }\n  }\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        300,
        140
      ],
      "id": "c2427ef6-a8c3-4559-af43-f63a9e89083c",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.is_chosen }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    },
                    "id": "e4fb4d48-018b-4590-ba8d-2e469cfdbd21"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "True"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "305774d8-6c19-4d33-bee4-806929985384",
                    "leftValue": "={{ $json.output.is_chosen }}",
                    "rightValue": false,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "false"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        460,
        0
      ],
      "id": "d46b4df1-5975-4ad8-8a6f-bcc974c22132",
      "name": "Switch"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.output.message }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        720,
        100
      ],
      "id": "430f2c6b-effe-4c7e-aa99-cac8ee47c4e2",
      "name": "Telegram1",
      "webhookId": "d0b20856-cf13-4614-8f27-3f8ec96f1fed",
      "credentials": {
        "telegramApi": {
          "id": "rxEG7XWuL3VhemfA",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1B9i7h3G3TM2JnIPxDYrgPvOoWcg16wyDh4CaTDvAYWI",
          "mode": "list",
          "cachedResultName": "Salta3_Orders",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1B9i7h3G3TM2JnIPxDYrgPvOoWcg16wyDh4CaTDvAYWI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1B9i7h3G3TM2JnIPxDYrgPvOoWcg16wyDh4CaTDvAYWI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Item": "={{ $('Switch').item.json.output.name }}",
            "Phone": "={{ $('Switch').item.json.output['Client phone'] }}",
            "For": "={{ $('Switch').item.json.output['Client Name'] }}",
            "Time": "={{ $now.toFormat('HH:mm:ss') }}",
            "Order Number": "={{ $json['Last Number'] }}",
            "Status": "In kitchen"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Item",
              "displayName": "Item",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Order Number",
              "displayName": "Order Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "For",
              "displayName": "For",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        860,
        -80
      ],
      "id": "b896c6bb-3ba2-439c-93f6-36a5e6c9a97f",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aMX7qPxgbMpl6a1i",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1B9i7h3G3TM2JnIPxDYrgPvOoWcg16wyDh4CaTDvAYWI",
          "mode": "list",
          "cachedResultName": "Salta3_Orders",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1B9i7h3G3TM2JnIPxDYrgPvOoWcg16wyDh4CaTDvAYWI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1840895570,
          "mode": "list",
          "cachedResultName": "Sheet 2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1B9i7h3G3TM2JnIPxDYrgPvOoWcg16wyDh4CaTDvAYWI/edit#gid=1840895570"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        720,
        -80
      ],
      "id": "aad01cec-c372-4e7b-9555-ad3d06fe2498",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aMX7qPxgbMpl6a1i",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1B9i7h3G3TM2JnIPxDYrgPvOoWcg16wyDh4CaTDvAYWI",
          "mode": "list",
          "cachedResultName": "Salta3_Orders",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1B9i7h3G3TM2JnIPxDYrgPvOoWcg16wyDh4CaTDvAYWI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1840895570,
          "mode": "list",
          "cachedResultName": "Sheet 2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1B9i7h3G3TM2JnIPxDYrgPvOoWcg16wyDh4CaTDvAYWI/edit#gid=1840895570"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "=2",
            "Last Number": "={{ $json['Order Number'] +1 }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Last Number",
              "displayName": "Last Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1000,
        -80
      ],
      "id": "cf726630-57ae-49c7-9db9-f38c723ba544",
      "name": "Google Sheets2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aMX7qPxgbMpl6a1i",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets2": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6a802398-7f6f-41a7-8e8b-2fe4b3d6e8e8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9391b53bec7fcddd458ac0fcaee94a8b7be294a387810445130723719a180e98"
  },
  "id": "Skp78pg5pRXdmuZ3",
  "tags": []
}