Workflows/Kitchen_response_system.json
{
  "name": "Kitchen response system",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -140,
        -20
      ],
      "id": "be28391e-ecaa-4503-93fa-f4506667df57",
      "name": "Telegram Trigger",
      "webhookId": "db115cf4-c293-4c90-ae4c-3f7df68e1f04",
      "credentials": {
        "telegramApi": {
          "id": "rxEG7XWuL3VhemfA",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.Status }}",
                    "rightValue": "Done",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "e3eb6b52-80e8-472f-8088-ca68b4dad8b5"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Done"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "527c3546-abb1-4d4e-97b6-03e838568090",
                    "leftValue": "={{ $json.Status }}",
                    "rightValue": "Cancel",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Cancel"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        220,
        -20
      ],
      "id": "b968de5c-a04e-48c8-a87a-816c9a5f149a",
      "name": "Switch"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "for item in _input.all():\n    message = item.json.get(\"message\")\n    if message and \"text\" in message:\n        text = message[\"text\"]\n        parts = text.strip().split()\n        order_number = int(parts[0])\n        status = parts[1]\n\n        item.json[\"Order_Number\"] = order_number\n        item.json[\"Status\"] = status\n\nreturn _input.all()"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        40,
        -20
      ],
      "id": "c5ac0a27-86be-4023-bfb0-96b75acdf2b8",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1B9i7h3G3TM2JnIPxDYrgPvOoWcg16wyDh4CaTDvAYWI",
          "mode": "list",
          "cachedResultName": "Salta3_Orders",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1B9i7h3G3TM2JnIPxDYrgPvOoWcg16wyDh4CaTDvAYWI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1B9i7h3G3TM2JnIPxDYrgPvOoWcg16wyDh4CaTDvAYWI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Order Number": "={{ $json.Order_Number }}",
            "Status": "={{ $json.Status }}"
          },
          "matchingColumns": [
            "Order Number"
          ],
          "schema": [
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Item",
              "displayName": "Item",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Order Number",
              "displayName": "Order Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "For",
              "displayName": "For",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        400,
        60
      ],
      "id": "385f67a7-3eb7-4ba1-b332-55c44bb84855",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aMX7qPxgbMpl6a1i",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1B9i7h3G3TM2JnIPxDYrgPvOoWcg16wyDh4CaTDvAYWI",
          "mode": "list",
          "cachedResultName": "Salta3_Orders",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1B9i7h3G3TM2JnIPxDYrgPvOoWcg16wyDh4CaTDvAYWI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1B9i7h3G3TM2JnIPxDYrgPvOoWcg16wyDh4CaTDvAYWI/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Order Number",
              "lookupValue": "={{ $json['Order Number'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        560,
        -140
      ],
      "id": "4d4e2d5a-3841-4f20-8966-5e13412085c4",
      "name": "Google Sheets2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aMX7qPxgbMpl6a1i",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1UEjMprwXfq_Ckl1t3AWOBH8kGk_oR9eaLuWsWbLU4lg",
          "mode": "list",
          "cachedResultName": "Salta3- Stock",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UEjMprwXfq_Ckl1t3AWOBH8kGk_oR9eaLuWsWbLU4lg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UEjMprwXfq_Ckl1t3AWOBH8kGk_oR9eaLuWsWbLU4lg/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Item",
              "lookupValue": "Berger"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        720,
        -260
      ],
      "id": "64e18953-a70a-4737-9369-cf760c860dc6",
      "name": "Google Sheets3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aMX7qPxgbMpl6a1i",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1UEjMprwXfq_Ckl1t3AWOBH8kGk_oR9eaLuWsWbLU4lg",
          "mode": "list",
          "cachedResultName": "Salta3- Stock",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UEjMprwXfq_Ckl1t3AWOBH8kGk_oR9eaLuWsWbLU4lg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UEjMprwXfq_Ckl1t3AWOBH8kGk_oR9eaLuWsWbLU4lg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Item": "Berger",
            "Quantity": "={{ $json.Quantity-1 }}"
          },
          "matchingColumns": [
            "Item"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Item",
              "displayName": "Item",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Quantity",
              "displayName": "Quantity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Unit",
              "displayName": "Unit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        920,
        -260
      ],
      "id": "50ae9945-7fe9-42ef-8c5c-52dc47f39b25",
      "name": "Google Sheets4",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aMX7qPxgbMpl6a1i",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1B9i7h3G3TM2JnIPxDYrgPvOoWcg16wyDh4CaTDvAYWI",
          "mode": "list",
          "cachedResultName": "Salta3_Orders",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1B9i7h3G3TM2JnIPxDYrgPvOoWcg16wyDh4CaTDvAYWI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1B9i7h3G3TM2JnIPxDYrgPvOoWcg16wyDh4CaTDvAYWI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Order Number": "={{ $json.Order_Number }}",
            "Status": "={{ $json.Status }}"
          },
          "matchingColumns": [
            "Order Number"
          ],
          "schema": [
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Item",
              "displayName": "Item",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Order Number",
              "displayName": "Order Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "For",
              "displayName": "For",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        400,
        -140
      ],
      "id": "e228c59e-7b12-49fe-9949-af4b311da827",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aMX7qPxgbMpl6a1i",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2f059820-aa2b-47ed-8f1b-ccf6c5450e76",
              "leftValue": "={{ $json.Item }}",
              "rightValue": "Cheese",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        740,
        -40
      ],
      "id": "464e8642-5d9a-4d2b-87c8-26ba0981b3ba",
      "name": "If"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1UEjMprwXfq_Ckl1t3AWOBH8kGk_oR9eaLuWsWbLU4lg",
          "mode": "list",
          "cachedResultName": "Salta3- Stock",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UEjMprwXfq_Ckl1t3AWOBH8kGk_oR9eaLuWsWbLU4lg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UEjMprwXfq_Ckl1t3AWOBH8kGk_oR9eaLuWsWbLU4lg/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Item",
              "lookupValue": "Cheese"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        940,
        -60
      ],
      "id": "8b0f0f69-d888-4904-b1ec-7b3757aeb118",
      "name": "Google Sheets5",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aMX7qPxgbMpl6a1i",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1UEjMprwXfq_Ckl1t3AWOBH8kGk_oR9eaLuWsWbLU4lg",
          "mode": "list",
          "cachedResultName": "Salta3- Stock",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UEjMprwXfq_Ckl1t3AWOBH8kGk_oR9eaLuWsWbLU4lg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UEjMprwXfq_Ckl1t3AWOBH8kGk_oR9eaLuWsWbLU4lg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Quantity": "={{ $json.Quantity-1 }}",
            "Item": "Cheese"
          },
          "matchingColumns": [
            "Item"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Item",
              "displayName": "Item",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Quantity",
              "displayName": "Quantity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Unit",
              "displayName": "Unit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1080,
        -60
      ],
      "id": "53e0639b-2b64-4395-a94f-5677a89e6bd8",
      "name": "Google Sheets6",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aMX7qPxgbMpl6a1i",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1UEjMprwXfq_Ckl1t3AWOBH8kGk_oR9eaLuWsWbLU4lg",
          "mode": "list",
          "cachedResultName": "Salta3- Stock",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UEjMprwXfq_Ckl1t3AWOBH8kGk_oR9eaLuWsWbLU4lg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UEjMprwXfq_Ckl1t3AWOBH8kGk_oR9eaLuWsWbLU4lg/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Item",
              "lookupValue": "Bread"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        740,
        100
      ],
      "id": "59d9e1a8-891d-4e8d-b607-9eb3cbf51295",
      "name": "Google Sheets7",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aMX7qPxgbMpl6a1i",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1UEjMprwXfq_Ckl1t3AWOBH8kGk_oR9eaLuWsWbLU4lg",
          "mode": "list",
          "cachedResultName": "Salta3- Stock",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UEjMprwXfq_Ckl1t3AWOBH8kGk_oR9eaLuWsWbLU4lg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UEjMprwXfq_Ckl1t3AWOBH8kGk_oR9eaLuWsWbLU4lg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Quantity": "={{ $json.Quantity-1 }}",
            "Item": "Bread"
          },
          "matchingColumns": [
            "Item"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Item",
              "displayName": "Item",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Quantity",
              "displayName": "Quantity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Unit",
              "displayName": "Unit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        920,
        100
      ],
      "id": "41a73c0e-3a90-4ef9-8467-31f3ee218272",
      "name": "Google Sheets8",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aMX7qPxgbMpl6a1i",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets2": {
      "main": [
        [
          {
            "node": "Google Sheets3",
            "type": "main",
            "index": 0
          },
          {
            "node": "If",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Sheets7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets3": {
      "main": [
        [
          {
            "node": "Google Sheets4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Google Sheets5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets5": {
      "main": [
        [
          {
            "node": "Google Sheets6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets7": {
      "main": [
        [
          {
            "node": "Google Sheets8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ead2e423-d348-424e-bdbd-aa2af5f34d6e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9391b53bec7fcddd458ac0fcaee94a8b7be294a387810445130723719a180e98"
  },
  "id": "RYNbi2qfH2iUN1i2",
  "tags": []
}